/* Media queries for various devices */

/* Set padding to keep content from hitting the edges */
@media only screen and (min-device-width: 560px) and (max-device-width: 1136px) and (-webkit-min-device-pixel-ratio: 2) {
/* iPhone 5 */
    .body-content {
        padding-left: 50px;
        padding-right: 15px;
    }
}

@media only screen and (min-device-width: 1024px){
    .body-content {
        padding-left: 100px;
        padding-right: 15px;
    }
}

@media (min-width: 700px) {
  .leftnavbar-toggle {
    display: none;
  }

  .leftnavbar-brand a {
      display: none;
  }
}

@media (max-width: 700px) {
  #cssmenu ul {
      margin: 0px;
  }
}

/* Input controls styling */

body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}

.navbar-left {
    float: left;
    /*margin: 10px;*/
}

#cssmenu {
    width: 200px;
    max-width: 200px;
    /*border-color: #D76100;*/
    border-size: 1px;
    border-width: 1px;
    padding: 0px;
}

#cssmenu ul {
    width: 150px;
    background-color: #222222;
    padding: 0px 0px 0px 0px;
    list-style: none;
}
#cssmenu li a {
    padding: 30px;
    height: 24px;
    text-decoration: none;
    font-weight: normal;
    color: #999999;
    display: block;
    border: 1px solid #333333;
    /*background: url(menu4.gif);*/
    /*padding: 8px 5px 8px 5px;*/
}
#cssmenu li a:hover {
    color: #fff;
    background-color: #333333;
    /*background: url(menu4.gif) 0 -32px;
    padding: 8px 0 0 8px;*/
}
#cssmenu li a:active {
    color: #fff;
    /*background: url(menu4.gif) 0 -64px;*/
    /*padding: 8px 5px 8px 5px;*/
}

.sur-choice {
    background-color: red;
}

.editor-label {
    float: left;
    width: 200px;
}

.editor-field {
    margin-left: 200px;
}

.editor-field input > input {
    width: 100%;
}

/* Main slideout menu */

span.gn-camera-icon, a.gn-camera-icon
{
    background: url("../Images/Camera-Icon.png") no-repeat top left;
    background-size: contain; /* CSS3 rulez! */
    display: inline;
    width: 18px;
    height: 18px;
    text-indent: -9999px; /* hides the link text */
    float: left;
    margin-left: 3px;
    cursor: pointer; cursor: hand;
}

a.gn-upload-icon
{
    background: url("../Images/Upload-Icon.png") no-repeat top left;
    background-size: contain; /* CSS3 rulez! */
    display: inline;
    width: 16px;
    height: 16px;
    text-indent: -9999px; /* hides the link text */
    float: left;
    margin-left: 3px;
}

a.gn-notes-icon
{
    background: url("../Images/Notes-Icon.png") no-repeat top left;
    background-size: contain; /* CSS3 rulez! */
    display: inline;
    width: 16px;
    height: 16px;
    text-indent: -9999px; /* hides the link text */
    float: left;
    margin-left: 3px;
}

div.gn-table {
    
}

div.gn-table-header {
    background-color: #eeeeee;
}

.gn-table-row-withborders{
    border-bottom: 1px solid black;
}

.gn-table-withborders {
    border: 1px solid #222222;
}

/* Modal dialog */

.modalDialog {
            position: fixed;
            font-family: Arial, Helvetica, sans-serif;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            background: rgba(0,0,0,0.8);
            z-index: 99999;
            opacity:0;
            -webkit-transition: opacity 400ms ease-in;
            -moz-transition: opacity 400ms ease-in;
            transition: opacity 400ms ease-in;
            pointer-events: none;
        }

        .modalDialog:target {
            opacity:1;
            pointer-events: auto;
        }

        .modalDialog > div {
            width: 800px;
            position: relative;
            margin: 10% auto;
            padding: 5px 20px 13px 20px;
            border-radius: 10px;
            background: #fff;
            background: -moz-linear-gradient(#fff, #999);
            background: -webkit-linear-gradient(#fff, #999);
            background: -o-linear-gradient(#fff, #999);
        }


        .close {
            background: #606061;
            color: #FFFFFF;
            line-height: 25px;
            position: absolute;
            right: -12px;
            text-align: center;
            top: -10px;
            width: 24px;
            text-decoration: none;
            font-weight: bold;
            -webkit-border-radius: 12px;
            -moz-border-radius: 12px;
            border-radius: 12px;
            -moz-box-shadow: 1px 1px 3px #000;
            -webkit-box-shadow: 1px 1px 3px #000;
            box-shadow: 1px 1px 3px #000;
        }

        .close:hover { background: #00d9ff; }

        body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Former Site_.css */

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}

/* Check boxes */

div label input {
   margin-right:100px;
}

#ck-button {
    margin:4px;   
    float:left;
}

#ck-button label {
    float:left;
    width:100px;
    margin:4px;
    background-color:#EFEFEF;
    border-radius:4px;
    border:1px solid #D0D0D0;
    overflow:auto;
       
}

#ck-button label span {
    text-align:center;
    font-size: 12px;
    padding:5px 0px;
    display:block;
}

#ck-button label input {
    position:absolute;
    top:-20px;
}

#ck-button .green input:checked + span {
    background-color:#A3D900;
    color:#333;
}

#ck-button .red input:checked + span {
    background-color:#FF0000;
    color:#333;
}

#ck-button .black input:checked + span  {
    background-color:#404040;
    color:#F7F7F7;
}

#ck-button .blue input:checked + span {
    background-color:#00CCFF;
    color:#333;
}

