<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
  </entityFramework>
  <connectionStrings>
    <add name="AtumSurveillanceContext" connectionString="Data Source=(localdb)\v11.0;attachdbfilename=C:\Users\aschmidt\Documents\GitHub\atumrulesdev\SurveyWeb\App_Data\ASPNET-SURVEYWEBAPP-20140128065722.mdf;Initial Catalog=AtumSurveillance;Integrated Security=True;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
    <add name="AtumSurveillanceContainer" connectionString="metadata=res://*/Database.AtumSurveillance.csdl|res://*/Database.AtumSurveillance.ssdl|res://*/Database.AtumSurveillance.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(LocalDB)\v11.0;AttachDbFilename=|DataDirectory|\aspnet-SurveyWebApp-20140128065722.mdf;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    
    <!--
    <add name="AtumSurveillanceContext" connectionString="data source=tcp:sql2k1201.discountasp.net;initial catalog=SQL2012_943839_atumrules;user id=SQL2012_943839_atumrules_user;password=JbJbJatw!;MultipleActiveResultSets=True"  providerName="System.Data.SqlClient" />
    <add name="AtumSurveillanceContainer" connectionString="metadata=res://*/Database.AtumSurveillance.csdl|res://*/Database.AtumSurveillance.ssdl|res://*/Database.AtumSurveillance.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=tcp:sql2k1201.discountasp.net;initial catalog=SQL2012_943839_atumrules;user id=SQL2012_943839_atumrules_user;password=JbJbJatw!;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
    -->
    <!--<add name="AtumSurveillanceContext" connectionString="metadata=res://*/Edmx_DoNotUse.AtumSurveillanceContext.csdl|res://*/Edmx_DoNotUse.AtumSurveillanceContext.ssdl|res://*/Edmx_DoNotUse.AtumSurveillanceContext.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(localdb)\v11.0;initial catalog=AtumSurveillance;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
  </connectionStrings>
</configuration>