<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://www.aqspartners.com/qasurvey</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>https://web805.discountasp.net:8172/MsDeploy.axd</MSDeployServiceURL>
    <DeployIisAppPath>aqspartners.com/qasurvey</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>aqspartners</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="SurveyWeb.Database.AtumSurveillanceContainer" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:sql2k1201.discountasp.net;Initial Catalog=SQL2012_943839_atumrules;User ID=SQL2012_943839_atumrules_user;Password=JbJbJatw!" Name="data source=tcp:sql2k1201.discountasp.net;initial catalog=SQL2012_943839_atumrules;user id=SQL2012_943839_atumrules_user;password=JbJbJatw!;MultipleActiveResultSets=True" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="SurveyWeb.Database.AtumSurveillanceContainer, SurveyWeb" Origin="" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="AtumSurveillanceContext" Order="2" Enabled="False">
          <Destination Path="Data Source=tcp:sql2k1201.discountasp.net;Initial Catalog=SQL2012_943839_atumrules;User ID=SQL2012_943839_atumrules_user;Password=JbJbJatw!" Name="data source=tcp:sql2k1201.discountasp.net;initial catalog=SQL2012_943839_atumrules;user id=SQL2012_943839_atumrules_user;password=JbJbJatw!;MultipleActiveResultSets=True" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="Atum.Database.Surveillance.Models.AtumSurveillanceContext, Atum.Database.Surveillance" MigrationConfiguration="Atum.Database.Surveillance.Migrations.Configuration, Atum.Database.Surveillance" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)AtumSurveillanceContext-Web.config Connection String">
      <ParameterValue>data source=tcp:sql2k1201.discountasp.net;initial catalog=SQL2012_943839_atumrules;user id=SQL2012_943839_atumrules_user;password=JbJbJatw!;MultipleActiveResultSets=True</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)SurveyWeb.Database.AtumSurveillanceContainer-Web.config Connection String">
      <ParameterValue>data source=tcp:sql2k1201.discountasp.net;initial catalog=SQL2012_943839_atumrules;user id=SQL2012_943839_atumrules_user;password=JbJbJatw!;MultipleActiveResultSets=True</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
  <ItemGroup>
    <_ConnectionStringsToInsert Include="SurveyWeb.Database.AtumSurveillanceContainer" />
  </ItemGroup>
</Project>